body
{
    background: url(../12_col.gif) center repeat-y;
    background-size: 90%;
}

#container{
    width: 90%;
    height: 800px;; 
    margin: 20px auto; 
    display: grid; 
    gap: 10px 15px; 
    

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box1 box1"
    "main main main main main main main main main aside aside aside"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}


@media screen and (min-width: 1200px)
{
#container{
    width: 90%;
    height: auto; 
    margin: 20px auto; 
    display: grid; 
    gap: 10px 15px; 
    

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
    "main main main main main main main main main aside aside aside"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

@media screen and (max-width: 1200px)
{
#container{
    width: 90%;
    height: auto; 
    margin: 20px auto; 
    display: grid; 
    gap: 10px 15px; 
    

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
    "main main main main main main main main aside aside aside aside"
    "footer footer footer footer footer footer footer footer footer footer footer footer ";
    }
}

@media screen and (max-width: 960px)
{
#container{
    width: 90%;
    height: auto; 
    margin: 20px auto; 
    display: grid; 
    gap: 10px 15px; 
    

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
    "main main main main main main aside aside aside aside aside aside"
    "footer footer footer footer footer footer footer footer footer footer footer footer"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

@media screen and (max-width: 768px)
{
#container{
    width: 90%;
    height: auto; 
    margin: 20px auto; 
    display: grid; 
    gap: 10px 15px; 
    

    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 200px);
    grid-template-areas: 
    "header"
    "box1"
    "box2"
    "box3"
    "main" 
    "aside" 
    "footer"
    "footer"
    "footer"
    "footer";
    
    }
}

header{
    grid-area: header; 
    border: 1px solid black; 
}

main{
    grid-area: main; 
    border: 1px solid black; 
}

aside {
    grid-area: aside; 
    border: 1px solid black; 
}
.box1 {
    grid-area: box1; 
    border: 1px solid black; 
}

.box2{
    grid-area: box2; 
    border: 1px solid black; 
}

.box3 {
grid-area: box3; 
border: 1px solid black; 
}

footer{
    display: grid; 
    grid-area: footer; 
    border: 1px solid black; 
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "footer1 footer2 footer3 footer4";
}

@media screen and (max-width: 960px)
{
footer{
    display: grid; 
    grid-area: footer; 
    border: 1px solid black; 
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: 
    "footer1 footer2"
    "footer3 footer4";
    }
}


@media screen and (max-width: 768px)
{
footer{
    display: grid; 
    grid-area: footer; 
    border: 1px solid black; 
    
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(2, 25%);
    grid-template-areas: 
    "footer1"
    "footer2"
    "footer3"
    "footer4";
    }
}

[class*="footer"]
{
    border: 1px solid black; 
    margin: 10px; 
}





